#content {
  text-align: center;
  padding-top: 5%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 3px 2px rgba(0, 0, 0, 0.1);
}
.container {
  padding-right: 0px
  margin-right: 0px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
#spacedBrand {
  letter-spacing: 0.1em;
  color: #1B3655;
  font-weight: 800;
}
#spacedBrand:hover {
  color: white;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);  
}
#section2 {
  padding-left: 0;
  padding-right: 0;
  color: black;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  background: url("../images/tdesign1.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#section3 {
  background: #f19f4d;
  width: 100%;
  max-width: 100%;
  padding-right: 0px;
  margin-right: 0px;
}
#eap {
  padding-left: 0;
  padding-right: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../images/viscosity_180840.png");
  background-size: cover;
  background-position: center;
  color: #1B3655;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);  
  width: 100%;
  height: 800px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
#hamburger {
  background: white;
  margin-right: 0.5em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f9cf00;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: 0px;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #f9cf00;
  text-shadow: 0px 1px 2px rgba(249, 207, 0, 0.3);  
}

.navbar-default .navbar-brand {
  color: white;
}
.btn-lg, .btn-group-lg>.btn {
  background: white;
  color: #4484ce;
  border: 1px white solid;
  outline: none;
}
.btn-lg:hover, .btn-group-lg>.btn {
  border: 1px transparent solid;
  opacity: 1.0;
  background: #1B3655;
  color: white;
  outline: none;
}
#bar {
  background: #4484ce;
  height: 40px;
  width: 100%;
}
#navbar-main {
  background: #4484ce;
  padding-bottom: 0px;
  color: white;
}
.navbar {
  border: 0px;
}

/*#########*/

.darkerText {
  font-family: 'Oswald', sans-serif;
  color: #1B3655;
  font-weight: bold;
}
.portfolio-icon {
  border-radius: 4px;
  color: #4484ce;
  display: inline-block;
  font-size: 78px;
  height: 100px;
  line-height: 90px;
  width: 120px;
  transition: background-color 0.2s ease;

}
.portfolio-icon:hover {
  background-color: #f9cf00;
  background-color: rgba(249, 207, 0, 0.5);
  color: white;
}
.portfolio .col-sm-4 {
  padding-bottom: 50px;
}
.portfolio .col-sm-4:nth-child(1), .portfolio .col-sm-4:nth-child(2), .portfolio .col-sm-4:nth-child(3) {
  border-bottom: 0px;
  padding-top: 20px;
}
.portfolio .col-sm-4:nth-child(4), .portfolio .col-sm-4:nth-child(5), .portfolio .col-sm-4:nth-child(6) {
  border-bottom: 0px;
  padding-top: 60px;
}
.portfolio-info h3 {
  margin-top: 35px;
}

#rightArt {
  /*height: 720px;*/
  max-height: 770px;
  height: 110%;
  /*width: 85%;*/
  float: right;
  margin-right: 0;
  /*bottom: 0;*/
  vertical-align: top;
}
#aboutUsRightArt {
  padding-right: 0;
  margin-right: 0;
}

#aboutUs {
  /*padding-top: 20px;*/
  padding-right: 0px;
  margin-right: 0px;
  /*margin-bottom: 20px;*/
  max-width: 100%;
}


body {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  width: 100% !important;
  padding: 0px !important;
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;

  padding-top: .5em;
  font-weight: 700;
  font-size: 4.5em;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
#contact {
  border: 2px white solid;
  color: white;
  padding: 1em;
  margin: .5em;
  margin-right: 40px;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  color: black;
  max-width: 100%;
}
#contactlist li {
  padding-top: 30px;
}

.btn-lg {
  margin-top: 8em;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.23);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.23);
}

#contactPlease {
  float: right;
}

ul {
   list-style-type: none;
   padding-left: 10px;
   margin-bottom: 0;
}

a:link {
  text-decoration: none;
}

footer {
  padding-top: 15px;
}

#aboutUsText {
  padding-right: 25px;
}

#aboutUsHeading {
  padding-left: 10px;
}