/* APP */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fbfbfc;
  padding: 3%;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
}

header {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

header h1 {
  letter-spacing: 2.5px;
  font-weight: 100;
  color: #222;
}

.summary-text {
  align-items: center;
  text-align: center;
  transition: all 0.8s;
}

.summary-text p {
  color: #444;
  letter-spacing: 1px;
}

/* OVERLAY */
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: #fff;
  width: 60vw;
  transition: width 0.8s;
  padding: 0 .75vw .75vw .75vw;
}

.overlay img {
  width: 100%;
  max-height: 90vh;
}

.close {
  background: none;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 0;
  border: 0;
  font-size: 1.75vmax;
  font-weight: bold;
  float: right;
  transition: all 0.8s;
}

.close:hover,
.view-img:hover {
  cursor: pointer;
  color: #222;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

.view-img {
  overflow:hidden;
}

.img-box {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.img-box img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* oversized overlay for animation bounce */
.img-box-overlay {
  background: rgba(185, 230, 89, 0.3);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  height: 105%;
  opacity: 0;
}

/* view image button with slide from left background animation */
.img-box-overlay button {
  width: 40%;
  height: 20%;
  margin-bottom: 5%;
  display: block;
  background: rgba(185, 230, 89, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #B9E659 50%,
    #B9E659);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.img-box-overlay button:hover {
  background-position: 0 0;
}

.img-box:hover .img-box-overlay {
  transform: translateY(0);
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

/* handle different image dimensions */
.tallimg {
  width: 33vw;
  transition: width 0.8s;
}

.tallimgWide {
  width: 33vw !important;
  transition: width 0.8s;
}

.tallimg img {
  max-height: 80vh;
}

/* LOADING */
.loading { 
  align-self: start;
  font-size: 1.25em;
  color: #222;
  opacity: 1;
  transition: opacity 1.2s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .overlay-inner {
    width: 80%;
  }
  
  .img-box:hover .img-box-overlay {
    transform: translateY(100%);
    animation-name: none;
  }
}

@media (max-width: 480px) {
  .overlay-inner {
    width: 100%;
  }
}